/.idea/compiler.xml
/.idea/description.html
/.idea/encodings.xml
/First labwork.iml
/workspace.xml
/vcs.xml
/project-template.xml
/libraries/Maven__junit_junit_4_12.xml
/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/misc.xml
/modules.xml